{% extends "scaleconverter/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid noselect">
    <div class="jumbotron jumbotron-fluid shadow-none">
        <h1 class="display-6"><span><i class="fas fa-ruler" style="color: Orange"></i> </span>Scale Converter</h1>
        <p class="lead"><em>Converts the original size and scale of a drawing to its printed scale</em></p>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
            <form method="POST" class="post-form">  
                    {% csrf_token %}  
                    <div class="form-row">
                    	<div class="col">
                            <div class="alert alert-secondary" role="alert"><strong>INPUT</strong></div>
                            <div>
                		    	<strong>{{ form.original_drawing_scale|as_crispy_field }}</strong>
                            </div>
                            <div>
                                <strong>{{ form.original_drawing_size|as_crispy_field }}</strong>
                            </div>
                            <div>
                                <strong>{{ form.printed_drawing_size|as_crispy_field }}</strong>
                            </div>
            		    </div>
            	    </div>
                    
                    <button type="submit" class="save btn btn-info" name="visualiser">CONVERT</button>
            </form> 
            <br/>

        </div>

        <br/>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">

            {% if out %}
                <div class="alert alert-secondary" role="alert"><strong>OUTPUT</strong></div>

                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="border-top: 1pt solid white; border-left: 1pt solid white"></th>
                            <td><b>PAPER SIZE</b></td>
                            <td><b>SCALE</b></td>
                        </tr>
                        <tr>
                            <th scope="row">ORIGINAL DRAWING</th>
                            <td><b>{{ out.original_paper }}</b></td>
                            <td><b>@ 1:{{ out.original_scale }}</b></td>
                        </tr>
                        <tr>
                            <th scope="row">NEW DRAWING</th>
                            <td><b>{{ out.new_paper }}</b></td>
                            <td><b>@ 1:{{ out.new_scale }}</b></td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
</div>

{% endblock content %}